.detail-page {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    /* background-size: cover;
    background-image: url("https://giphy.com/embed/Iau8PEehqA4Bj6yk4v"); */
}

.detail-page-gif {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    /* background-image: url("https://giphy.com/embed/Iau8PEehqA4Bj6yk4v"); */
    /* background-size: cover; */
    /* background: rgba(0, 0, 0, .7); */
    cursor: default;
}

.detail-info {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    max-width: 800px;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.detail-info p {
    margin: 0.5rem;
    text-align: center;
}

/* flag image */
.detail-info img {
    width: 300px;
    height: auto;
    margin: 1rem;
}

.detail-page-random {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.detail-page-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.detail-page-bg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    /* background-image: url("https://giphy.com/embed/Iau8PEehqA4Bj6yk4v"); */
    /* background-size: cover; */
    background: rgba(0, 0, 0, .7);
    cursor: default;
}