.header-nav {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.header-nav li {
    list-style: none;
    display: inline;
    margin: 1rem;

}