.country-container {
    /* margin: 0.5rem; */
    width: 14.28%;
    height: 200px;
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@media screen and (max-width: 1800px) {
    .country-container {
        width: 20%;
    }
}

@media screen and (max-width: 1400px) {
    .country-container {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .country-container {
        width: 33.33%;
        /* height: 200px */
    }
}

@media screen and (max-width: 600px) {
    .country-container {
        width: 50%;
        /* height: 200px; */
    }
}

.img-overlay {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 35px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}

.img-overlay:hover {
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 0px 0px 15px black;
    background-color: rgba(0, 0, 0, 0.0);
}