.country-container {
    margin: 0.5rem;
    width: 150px;
    height: 100px;
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.img-overlay {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 25px;
    text-align: center;
}

.img-overlay:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
}

/* .country-main-text {
    text-align: center;
    opacity: 1;
    color: white;
    margin: 0;
} */