.pointer {
  cursor: pointer
}

.main-font {
  font-family: 'Archivo Black', sans-serif;
}

.sub-font {
  font-family: 'Montserrat', sans-serif;
}

.bolder-font {
  font-weight: bolder;
}


.huge-font {
  font-size: 60px;
}

.big-font {
  font-size: 45px;
}

.medium-font {
  font-size: 30px;
}

.small-font {
  font-size: 20px;
}

/* PALETTE 1 */
/* #274C77 blue */
/* #E7ECEF light grey */
/* #A3CEF1 light blue */

/* PALETTE 2 */
/* #F5EFED white */
/* #2292A4 blue */
/* #0F0A0A black */

/* PALETTE 3 */
/* #0D3B66 dark blue */
/* #FAF0CA beige */
/* #F4D35E mustard */
/* #F95738 peach red */

/* #000000 black */
/* #FFFFFC white */
/* #FF1B1C bright red */

/* #C1292E dark red */
/* #235789 dark blue */
/* #FDFFFC white */
/* #F1D302 yellow */
/* #020100 black */

html {
  background-color: #0D3B66;
}

.App {
  height: auto;
}